.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 24px;
}
.gallery-image {
  width: 360px;
  height: 200px;
  transition: transform 0.25s;
}
.gallery-image:hover,
.gallery-image:focus {
  transform: scale(1.04);
}
